In [22]:
# Question#1
num1 = int(input('Enter First Value :'));
num2 = int(input('Enter Second Value :'));
operation = input('Enter the operation to be performed :');
ans = 0 ;

if operation == '+':
    ans=num1+num2
    print(ans)
elif operation == '-':
    ans=num1-num2
    print(ans)
elif operation == '/':
    ans=num1/num2
    print(ans)
elif operation == '*':
    ans=num1*num2
    print(ans)
else:
    print
    ('error operation is wrong input')

Enter First Value :4
Enter Second Value :5
Enter the operation to be performed :-
-1

In [21]:
# Question # 2
a=['Hello',90,'Hi',45];
for i in a:
    if isinstance(i,str) == True:
        print(str(i)+' is a not numeric value')
    else:
        print(str(i) +' is a numeric value')

Hello is a not numeric value
90 is a numeric value
Hi is a not numeric value
45 is a numeric value

In [23]:
# Question # 3 
# Has been covered with Question # 6 below

In [25]:
# Question # 4 
StudentMarksRecord = {
    'Name':'Saad',
    'Roll#':'59',
    'Maths':91,
    'English':80,
    'Science':70,
    'Urdu':65,
    'Islamiat':53,
    'status':'Passed',
    'Grade':'B'
}
TotalMarks=0
for i in StudentMarksRecord.values():
    if isinstance(i,int) == True :
        TotalMarks += i
print('The Total Marks of Student is '+str(TotalMarks)+'/500')

The Total Marks of Student is 359/500

In [26]:
# Question # 5
StudentAge = {
    'Muhammad ':21,
    'Salman ':25,
    'Irfan ':19,
    'Umar ':18,
    'Ali ':25,
    'Anas ':24,
}
Duplicate={}
for key,value in StudentAge.items():
    if value not in Duplicate:
        Duplicate[value]=[key]
    else:
        Duplicate[value].append(key)
a=[]
for key,val in Duplicate.items():
    if len(val) == 1:
        a.append(key)
for i in a :
    del Duplicate[i]
string1=''
for key,val in Duplicate.items():
    keystr=str(key)
    print(string1.join(val)+'has same Age : '+str(key)+' years')

Salman Ali has same Age : 25 years

In [27]:
# Question # 6 & Question # 3
def studentRecord(Name,Age):
    NameAdjustment = str.capitalize(Name)+' '
    AgeAdjustment = int(Age)
    if NameAdjustment not in StudentAge:
        StudentAge[NameAdjustment]=AgeAdjustment
        print('Record Updated')
    else:
        print('Try Another Name. This Name Already Exist')
    
studentRecord('Shams','21')
studentRecord('Anas','24')

Record Updated
Try Another Name. This Name Already Exist